<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <ul>
        <div>
            <a href="/campgrounds/new">Add New Campground</a>
        </div>
        <br>
        <% for (let campground of campgrounds) { %>
            <li>
                <a href="/campgrounds/<%= campground._id %>">
                    <%= campground.title %>
                </a>
            </li>
            <% } %>
                <!-- Loops over all campgrounds currently present in the database and
            displays them on the page, with links to their details pages -->
    </ul>