<% layout('layouts/boilerplate') %>
    <h1>Add New Campground</h1>
    <form action="/campgrounds" method="post">
        <section>
            <label for="title">Title </label>
            <input type="text" id="title" name="campground[title]">
        </section>
        <form action="/campgrounds" method="post">
            <section>
                <label for="location">Location </label>
                <input type="text" id="location" name="campground[location]">
            </section>
            <button>Add Campground</button>
        </form>
        <a href="/campgrounds">Back to All Campgrounds</a>
        <!-- Displays fields for creating a new campground and posts the entered
        info to the index.ejs page and database -->